body {
	background-color: #666;
	background: url("assets/images/concrete_seamless.png");
}

.main {
	background-color: #fff;
	padding-bottom: 70px;
	margin-bottom: 150px;
}

.navbar {
	background-color: #fff;
	border-bottom: 3px solid #999;
	height: 63px;
}

.navbar-brand {
	padding: 22px;
	background-color: #4aaaa5;
	font-size: 25px;
	margin: 0px;
}

.navbar-default .navbar-brand:hover {
	background-color: #4aaaa5;
	color: #fff;
}

.nav-tabs {
	border: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #999;
	font-size: 18px;
}


h1, h3 {
	color: #4aaaa5;
}

img.portfolioImage {
    margin: auto;
    top: 0;
    /*left: 15%;*/
    /*right: 15%;*/
    bottom: 0;
    margin-top:15px;
    margin-bottom:15px;
    width: 100%;
}

div.work {
	margin: auto;
	position: relative;
  	/*float: left;*/
  	overflow: auto;
}

div.work h2 {
  position: relative;
  bottom: 100px;
  padding: 20px;
  width:100%;
  margin: 0px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.form-control {
	width: 70%;
}


.panel-default>.panel-heading {
	background-color: #fff;
	/*color: #4aaaa5;*/
}

.panel-body {
	padding-bottom: 40px;
}

.panel {
	margin-bottom: 150px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #666;
  text-align: center;
  border-top: 5px solid #4aaaa5;
  color: #999;
  clear: both;
}

.text-muted {
	padding-top: 25px;
}